<div class='body-item'>
  <p class="large"> Edinburgh local, independently owned cafe serving North and East African cuisine for more than ten years. </p>
</div>

<div class='body-item'>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2234.496410113276!2d-3.2060122844914924!3d55.9407675849472!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4887c79f97b322b7%3A0x9e3685bd3deb6d7a!2sKhartoum+Cafe!5e0!3m2!1sen!2suk!4v1462714933018" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

<div class='body-item'>
  Open Everyday: 11.30am - 6.30pm
  <!-- <table class='opening-hours'>
    <tr>
      <td>Monday</td>
      <td>9am - 6pm </td>
    </tr>
    <tr>
      <td>Tuesday</td>
      <td>9am - 6pm </td>
    </tr>
    <tr>
      <td>Wednesday</td>
      <td>9am - 8pm </td>
    </tr>
    <tr>
      <td>Thursday</td>
      <td>9am - 6pm </td>
    </tr>
    <tr>
      <td>Friday</td>
      <td>9am - 6pm </td>
    </tr>
  </table> -->
</div>
