<!-- <div class='body-item'> -->
  <div class='body-item'>
    <span> <i class="fa fa-phone" aria-hidden="true"></i> 0131 228 9797 </span>
  </div>
  <!-- <span> <i class="fa fa-twitter-square" aria-hidden="true"></i> 0131 228 9797</span> -->

  <div class='body-item'>
    <span> <i class="fa fa-twitter-square" aria-hidden="true"></i> @khartoum_cafe</span>
  </div>
  <div class='body-item'>
    <span> <i class="fa fa-envelope" aria-hidden="true"></i>
      6 Gillespie Place, Edinburgh, Scotland, EH104HS
    </span>
  </div>
<!-- </div> -->
