@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
html{
  height:100%;
}
body{
  height:100%;
  font-family: 'Montserrat', sans-serif;
  background-color:#f7c06c;
  display:flex;
  justify-content: center;
  color:#00166A;
}

.panel{
  background-color:#e4685c;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  border-style: solid;
  border-color: #00166A;
  height:100%;
  margin-top:50px;
  border-radius:10px;
  margin-left:10px auto;
  margin-right:10px auto;
  width:100%;
  max-width:800px;

}

.panel-header{
  display: flex;
  justify-content: center;
  margin-top:-50px;
}

.panel-nav{
  display:flex;
  flex-direction:row;
  justify-content: center;
  padding-top:10px;
}

.panel-body{
  display:flex;
  flex-direction:column;
  justify-content: space-around;
}

.body-item{
  display:flex;
  justify-content: center;
  border-radius:5px;
  border-style:solid;
  background-color:white;
  margin:5px;
  margin-top:10px;
  font-size: 20px;
  padding:5px;
  text-align: center;
  background-color:#f7c06c;
  flex-direction:column;
  /*color:white;*/
}

.nav-item{
  padding:10px;
  margin:5px;
  border-style: solid;
  border-width:2px;
  border-radius: 5px;
  border-color:#f7c06c;
  background-color:#00166A;

}

.nav-item.selected a{
  color:white;
}
.nav-item a{
  text-decoration: none;
  font-size: 25px;
  color:#f7c06c;
}

p{
  font-size:15px;
}

.large{
  font-size:20px;
}

iframe{
  height:100%;
  width:100%;
}

.opening-hours td{
  padding-right: 15px;
  text-align:right;
}
