
body{
  background-color:#eeeeee;
}

.panel{
  display:flex;
  flex-direction:column;
  justify-content:space-around;
}

.panel-header{
  display: flex;
  justify-content: center;
}

.panel-nav{
  display:flex;
  flex-direction:row;
  justify-content: center;
  padding-top:10px;
}

.panel-body{
  display:flex;
  flex-direction:column;
  justify-content: space-around;
}

.body-item{
  display:flex;
  justify-content: center;
  border-radius:5px;
  border-style:solid;
  background-color:white;
  margin-top:10px;
}

.nav-item{
  padding:5px;
  margin:2px;
  border-style: solid;
  border-width:2px;
  border-radius: 5px;
  background-color:white;
}

.nav-item.selected{
  background-color:green;
}
.nav-item a{
  color: #000000;
  text-decoration: none;
  font-size: 20px;
}
